<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HAKIBA APP</h1>
    <P>Welcome to our&nbsp;<i>HAKIBA</i></P>
    <p>Our aim is to support our financial status by making savings on account for later retrival</p>
    <h4>Some of our esteemed customers</h4>
    <ul>
        {% for user in users_list %}
        <li>{{user.firstname}} {{user.lastname}}</li>
        {% endfor %}
    </ul>

    <div class="auth-redirect">
        <div class="button-container">
            <div class="login">
                <a href="account/login" class="btn btn-primary">Login</a>
            </div>
            <div class="register">
                <a href="account/register" class="btn btn-text">Create an account with us</a>
            </div>
        </div>
    </div>
    
</body>
</html>