<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FAST BANKING APP</h1>
    <p>Save with us</p>

    <ul>
        {%for user in users_list%}
        <li>{{user.username}}{{user.password}}</li>
        {%endfor%}
    </ul>

    {% if login_message %}
        {{login_message}}
    {%endif%}


    <form method="POST" action="/account/login">
        <label for="username" placeholder="Username">Username:</label>
        <input type="text" name="username">
        <label for="pswd" placeholder="password">Password:</label>
        <input type="password" name="password">
        <input type="submit" name="" value="Login">
    </form>
    
</body>
</html>