<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .reg{
            margin: 100px 580px 580px;
            width: 500px;
            border: 2px solid grey;
            padding: 70px;
            background-color: rgb(49, 129, 194);
            }
        .btn2{
            margin: auto;
            width: 250px;
            background-color: rgb(7, 78, 29);
            }
      </style>
</head>
<body>
    <div class="reg" align="center">
        <form action="/account/register" method="POST">
          First Name:
           <input type="text" name="firstname"><br><br>
          Last Name:
           <input type="text" name="lastname"><br><br>
        
        <button type="submit">Register</button>
        </form>
      </div>
</body>
</html>