<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .reg{
            margin: 100px 580px 580px;
            width: 500px;
            border: 2px solid grey;
            padding: 70px;
            background-color: rgb(49, 129, 194);
            }
        .btn2{
            margin: auto;
            width: 250px;
            background-color: rgb(7, 78, 29);
            }
      </style>
</head>
<body>
    <div class="reg" align="center">
        <form action="" method="POST">
          Full Name:
        <input type="text" name="fullname"><br><br>
        Email Address:
        <input type="text" name="email"><br><br>
        ID No:
        <input type="text" name="idno"><br><br>
        Phone no:
        <input type="text" name="phone"><br><br>
        Rental:
        <input type="text" name="rental"><br><br>
        Salary:
        <input type="text" name="salary"><br><br>
        <button type="submit">Register</button>
        </form>
      </div>
</body>
</html>